{{ partial "head" . }}
{{ partial "nav" . }}
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    {{ $taxotag := "tags" }}
    {{ $taxocat := "categories" }}
    <!-- Use the plural form here -->
    <ul id="taxonomy">
      {{ range .Param $taxotag }}
      {{ $name := . }}
      <span class="tag"><a href="/tags/{{$name}}">{{ $name }}</a></span>
      {{ end }}
  
      {{ range .Param $taxocat }}
      {{ $name := . }}
      <span class="category"><a href="/categories/{{$name}}">{{ $name }}</a></span>
      {{ end }}
    </ul>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
  </div>
{{ partial "footer" . }}
